<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI>
			<Dialog Id="AdditionalTasksDlg" Width="480" Height="330" Title="Secops Solution CLI version !(bind.property.ProductVersion)" >
				<Control Id="BottomLine" Type="Line" X="0" Y="294" Width="480" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="450" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bold}Select Additional Tasks" />
				<Control Id="Description" Type="Text" X="25" Y="20" Width="480" Height="15" Transparent="yes" NoPrefix="yes" Text="Which additional task should be performed" />
				<Control Id="TextOne" Type="Text" X="25" Y="55" Width="480" Height="15" Transparent="yes" NoPrefix="yes" Text="Select the additional tasks you would like Setup to perform while installing Secops Solution CLI, then click next." />
				<Control Id="TextTwo" Type="Text" X="25" Y="75" Width="330" Height="20" Transparent="no" NoPrefix="yes" Text="Additional shortcuts:"/>
				<Control Id="InstallShortcutCheckbox" Type="CheckBox"
                 X="25" Y="95" Width="200" Height="17"
                 Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1"
                 Text="Create a desktop shortcut" />
				<Control Id="Next" Type="PushButton" X="345" Y="303" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
				<Control Id="Back" Type="PushButton" X="290" Y="303" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="410" Y="303" Width="56" Height="17" Text="!(loc.WixUICancel)" >
					<Publish Event="SpawnDialog" Value="CustomCancelDlg" ></Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="435" Y="0" Width="44" Height="44" TabSkip="no" Text="Logo" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
