<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI>
			<TextStyle Id ="WixUI_Font_Bold" FaceName="Tahoma" Bold="yes" Size="9"/>
			<Dialog Id="CustomLicenseAgreementDlg" Width="480" Height="330" Title="setup- Secops Solution CLI version !(bind.property.ProductVersion)">
				<Control Id="BannerBitmap" Type="Bitmap" X="435" Y="0" Width="44" Height="44" TabSkip="no" Text="Logo" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="480" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="294" Width="480" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="480" Height="15" Transparent="yes" NoPrefix="yes" Text="By installing this software, you agree to the terms and conditions of the License Agreement." />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="450" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bold}SECOPS SOLUTIONS, INC: End User License Agreement" />
				<Control Id="LicenseAcceptedCheckBox" Type="CheckBox" X="20" Y="267" Width="450" Height="18" CheckBoxValue="1" Property="LicenseAccepted" Text="I hereby agree to the terms and conditions of this agreement" />
				<Control Id="Next" Type="PushButton" X="345" Y="303" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" DisableCondition="LicenseAccepted &lt;&gt; &quot;1&quot;" EnableCondition="LicenseAccepted = &quot;1&quot;" >
					<Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg" Condition="!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1" />
					<Publish Event="DoAction" Value="LogAct" ></Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="410" Y="303" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CustomCancelDlg" />
				</Control>
				<Control Id="LicenseText" Type="ScrollableText" X="20" Y="55" Width="440" Height="200" Sunken="yes" TabSkip="no">
					<Text SourceFile="Files\AgreementText.rtf" />
				</Control>
			</Dialog>
			<InstallUISequence>
				<Show Dialog="CustomLicenseAgreementDlg" Before="CustomProgressDlg" Condition="NOT Installed AND NOT PATCH" />
			</InstallUISequence>
		</UI>
	</Fragment>
</Wix>