<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="SecOps Solution Agent" Manufacturer="Secops Solution, Inc." Version="1.1.25" UpgradeCode="4a6c4ee9-b398-49cf-90a0-31b14400e94e" UpgradeStrategy="majorUpgrade" >
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" AllowDowngrades="no" AllowSameVersionUpgrades="no" />
	<Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
	  
	 <Icon Id="icon" SourceFile="Files\secops_cli.ico" />
	 <Binary Id="CautionIcon" SourceFile="Files\IconCaution.jpg" />
	  <Binary Id="Logo" SourceFile="Files\secops_logo.jpg" />
	  <Launch Condition="REMOVE OR NOT MYAPPINSTALLED" Message="The Agent is already installed!" />

	  <Binary Id="UninstallBin" SourceFile="..\ActionUninstall\bin\Release\net472\ActionUninstall.CA.dll" />
	  <CustomAction Id="UninstallAct" Impersonate="no" DllEntry="CustomAction1" Return="ignore" BinaryRef="UninstallBin" />

	  <CustomAction Id ="SilentVerifyURL" BinaryRef="VerifyBin" DllEntry="VerifyOnPremURL" Execute="immediate" Return="check" />
	  <CustomAction Id ="SilentVerifyLicenseAct" BinaryRef="VerifyLicenseBin" DllEntry="ActionVerifyLicenseKey" Execute="immediate" Return="check" />
	  <CustomAction Id="SilentRegisterAgentAct" BinaryRef="RegisterAgentBin" DllEntry="RegisterAgentAction" Execute="immediate" Return="check" />

	<Binary Id="CopyBin" SourceFile="..\CreateConfigFile\bin\Release\net472\CreateConfigFile.CA.dll" />
	<CustomAction Id="AgentConfig" BinaryRef="CopyBin" DllEntry="CustomAction1" Execute="deferred" Impersonate="no" Return="check" />
	<CustomAction Id="SetAuthenticateDownload" Property="AgentConfig" Value="SECOPS_CONFIG=[SECOPS_CONFIG]" />

	  <Binary Id="LogBin" SourceFile="..\CreateLogFile\bin\Release\net472\CreateLogFile.CA.dll" />
	  <CustomAction Id="LogAct" BinaryRef="LogBin" DllEntry="CustomAction1" Execute="immediate" Return="check" />
	  
	<Property Id="ARPPRODUCTICON" Value="icon" />
	<Property Id="SECOPS_CONFIG" Secure="yes" />
	<Property Id ="INSTALLDESKTOPSHORTCUT" Secure="yes" />
	<Property Id="MYAPPINSTALLED" Secure="yes" >
		 <DirectorySearch Id="CheckFileDir" Path="C:\Program Files (x86)\Secops Solution CLI" AssignToProperty="yes">
			 <FileSearch Id="CheckFile" Name="secops_cli_windows-latest.exe" />
		 </DirectorySearch>
	 </Property>
	  
    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

	  <InstallExecuteSequence >
		  <Custom Action="LogAct" After="CostFinalize" Condition="UILevel = 2" />
		  <Custom Action="SilentVerifyURL" After="LogAct" Condition="UILevel = 2" />
		  <Custom Action="SilentVerifyLicenseAct" After="SilentVerifyURL" Condition="UILevel = 2" />
		  <Custom Action="SilentRegisterAgentAct" After="SilentVerifyLicenseAct" Condition="UILevel = 2" />
		  <Custom Action="SetAuthenticateDownload" Before="AgentConfig"/>
		  <Custom Action="AgentConfig" After="InstallFiles" Condition="NOT Installed AND NOT PATCH" />
		  <Custom Action="UninstallAct" After="InstallInitialize" Condition="Installed AND REMOVE" ></Custom>
	  </InstallExecuteSequence>
	  <!--<ui:WixUI Id="WixUI_Mondo" />-->
	  <UIRef Id="WixUI"/>
  </Package>
</Wix>
