<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<!--
First-time install dialog sequence:      Maintenance dialog sequence:
 - WixUI_WelcomeDlg                     - WixUI_MaintenanceWelcomeDlg
 - WixUI_CustomLicenseAgreementDlg            - WixUI_MaintenanceTypeDlg
 - DirDialog                    - DirDialog
   - WixUI_VerifyReadyDlg                 - WixUI_VerifyReadyDlg
   - WixUI_DiskCostDlg
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Fragment>
		<CustomAction Id="WixUIPrintEula" Directory="TARGETDIR" ExeCommand="[SystemFolder]notepad.exe [INSTALLDIR]Eula.txt" Return="asyncNoWait" />

		<UI Id="WixUI">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="InstallDir" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />


			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999"></Publish>

			<Publish Dialog="CustomLicenseAgreementDlg" Control="Next" Event="NewDialog" Value="AgentConfigDlg"></Publish>

			<Publish Dialog="AgentConfigDlg" Control="Back" Event="NewDialog" Value="CustomLicenseAgreementDlg"></Publish>

			<Publish Dialog="LicenseActivationDlg" Control="Back" Event="NewDialog" Value="AgentConfigDlg" ></Publish>

			<Publish Dialog="AdditionalTasksDlg" Control="Next" Event="NewDialog" Value="CustomVerifyReadyDlg" ></Publish>
			<Publish Dialog="AdditionalTasksDlg" Control="Back" Event="NewDialog" Value="LicenseActivationDlg" ></Publish>

			<Publish Dialog="CustomVerifyReadyDlg" Control="Back" Event="NewDialog" Value="AdditionalTasksDlg" ></Publish>

			<Property Id="ARPNOMODIFY" Value="1" />
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>