<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Binary Id ="VerifyBin" 
				SourceFile="..\VerifyURL\bin\Release\net472\VerifyURL.CA.dll" />
		<Property Id="RADIOBUTTONVALUE" Value="1" />
		<CustomAction Id ="VerifyURL" BinaryRef="VerifyBin" DllEntry="VerifyOnPremURL" Execute="immediate" Return="ignore" />
		<Property Id="VERIFYONPREMKEY" Value="999" />
		<Property Id="RETURNCODE" />
		<UI>
			<TextStyle Id="WixUI_Font_Red" FaceName="Tahoma" Blue="0" Green="0" Red="255" Size="9"/>
			<TextStyle Id="WixUI_Font_Green" FaceName="Tahoma" Blue="0" Green="200" Red="0" Size="9"/>
			<Dialog Id="AgentConfigDlg" Width="480" Height="330" Title="setup- Secops Solution CLI version !(bind.property.ProductVersion)">
				<Control Id="BottomLine" Type="Line" X="0" Y="294" Width="480" Height="0" />
				<Control Id="Next" Type="PushButton" X="345" Y="303" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" EnableCondition="(RADIOBUTTONVALUE = 1) OR ((RADIOBUTTONVALUE = 2) AND (RETURNCODE = 0))" DisableCondition="(RADIOBUTTONVALUE = 2) AND NOT (RETURNCODE = 0)" >
					<Publish Event="NewDialog" Value="LicenseActivationDlg" />
				</Control>
				<Control Id="Back" Type="PushButton" X="290" Y="303" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="410" Y="303" Width="56" Height="17" Text="!(loc.WixUICancel)" >
					<Publish Event="SpawnDialog" Value="CustomCancelDlg" />
				</Control>
				<Control Id="TextOne" Type="Text" X="5" Y="5" Width="330" Height="15" NoPrefix="yes" Text="{\WixUI_Font_Bold}Agent Configuration"  />
				<Control Id="TextTwo" Type="Text" X="10" Y="20" Width="330" Height="15" NoPrefix="yes" Text="Select Platform:" />
				<Control Id="RadioButtons" Type="RadioButtonGroup" X="10" Y="60" Width="370" Height="40" Property="RADIOBUTTONVALUE" >
					<RadioButtonGroup Property="RADIOBUTTONVALUE" >
						<RadioButton Value="1" X="0" Y="5" Width="200" Height="17" Text="SaaS" />
						<RadioButton Value="2" X="0" Y="20" Width="200" Height="17" Text="On-Prem"/>
					</RadioButtonGroup>
				</Control>
				<Control Id="CheckingConnectivity" Type="Text" X="315" Y="135" Width="100" Height="17" Text="Checking connectivity ..." 
						 ShowCondition="RADIOBUTTONVALUE = 2 AND RETURNCODE = 999" HideCondition="RADIOBUTTONVALUE = 1 OR RADIOBUTTONVALUE = 2 AND NOT RETURNCODE = 999" />
				<Control Id="ConnectivitySuccess" Type="Text" X="315" Y="135" Width="100" Height="17" Text="{\WixUI_Font_Green}Connected successfully." 
						 ShowCondition="RADIOBUTTONVALUE = 2 AND RETURNCODE = 0" HideCondition="RADIOBUTTONVALUE = 1 OR RADIOBUTTONVALUE = 2 AND NOT RETURNCODE = 0" />
				<Control Id="ConnectivityNotReachable" Type="Text" X="315" Y="135" Width="100" Height="17" Text="{\WixUI_Font_Red}Not reachable" 
						 ShowCondition="RADIOBUTTONVALUE = 2 AND RETURNCODE = 1" HideCondition="RADIOBUTTONVALUE = 1 OR RADIOBUTTONVALUE = 2 AND NOT RETURNCODE = 1" />
				<Control Id="PremText" Type="Text" X="10" Y="110" Width="250" Height="18" Transparent="no" NoPrefix="yes"
						 Text="http://&lt;domain&gt; or http://&lt;ip&gt;:&lt;port&gt;" ShowCondition="RADIOBUTTONVALUE = 2" HideCondition="RADIOBUTTONVALUE = 1" />
				<Control Id="InputText" Type="Edit" X="10" Y="130" Width="250" Height="18" Property="BASEURL"
						 ShowCondition="RADIOBUTTONVALUE = 2" HideCondition="RADIOBUTTONVALUE =	1"  />
				<Control Id="VerifyOnPremKeyButton" Type="PushButton" X="260" Y="130" Width="50" Height="18" Text="Verify" ShowCondition="RADIOBUTTONVALUE = 2" HideCondition="RADIOBUTTONVALUE = 1" >
					<Publish Property="RETURNCODE" Value="999" />
					<Publish Event="DoAction" Value="VerifyURL" ></Publish>
					<Publish Property="HTTPError" Value="[TEMP_HTTPError]" />
					<Publish Property="TEMP_VERIFIED" Value="[RETURNCODE]" ></Publish>
					<Publish Property="RETURNCODE" Value="[TEMP_VERIFIED]" />
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="435" Y="0" Width="44" Height="44" TabSkip="no" Text="Logo" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>