<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI>
			<Dialog Id="AlreadyInstalledDlg" Width="260" Height="85" Title="Setup">
				<Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="Ok">
					<Publish Event="EndDialog" Value="Exit" />
				</Control>
				<Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" NoPrefix="yes" Text="The agent is already installed." />
				<Control Id="Bitmap"
					Type="Bitmap"
					X="20"
					Y="20"
					Width="24"
					Height="24"
					TabSkip="no"
					Text="CautionIcon" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>
