<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI>
			<Dialog Id="CustomProgressDlg" Width="480" Height="330" Title="setup- Secops Solution CLI version !(bind.property.ProductVersion)" Modeless="yes">
				<Control Id="Cancel" Type="PushButton" X="410" Y="303" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg" />
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="435" Y="0" Width="44" Height="44" TabSkip="no" Text="Logo" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="480" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="294" Width="480" Height="0" />
				<!-- mutually exclusive title and description strings overlap  -->
				<Control Id="TextInstalling" Type="Text" X="20" Y="65" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Please wait while setup installs SecOps Solution CLI on your computer." ShowCondition="NOT Installed OR (Installed AND (RESUME OR Preselected) AND NOT PATCH)" />
				<Control Id="TitleInstalling" Type="Text" X="20" Y="15" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{\WixUI_Font_Bold}Installing" ShowCondition="NOT Installed OR (Installed AND (RESUME OR Preselected) AND NOT PATCH)" />
				<Control Id="TextChanging" Type="Text" X="20" Y="65" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Changing" ShowCondition="WixUI_InstallMode = &quot;Change&quot;" />
				<Control Id="TitleChanging" Type="Text" X="20" Y="15" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{\WixUI_Font_Bold}Changing" ShowCondition="WixUI_InstallMode = &quot;Change&quot;" />
				<Control Id="TextRepairing" Type="Text" X="20" Y="65" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Repairing" ShowCondition="WixUI_InstallMode = &quot;Repair&quot;" />
				<Control Id="TitleRepairing" Type="Text" X="20" Y="15" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{\WixUI_Font_Bold}Repairing" ShowCondition="WixUI_InstallMode = &quot;Repair&quot;" />
				<Control Id="TextRemoving" Type="Text" X="20" Y="65" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Removing" ShowCondition="WixUI_InstallMode = &quot;Remove&quot;" />
				<Control Id="TitleRemoving" Type="Text" X="20" Y="15" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{\WixUI_Font_Bold}Removing" ShowCondition="WixUI_InstallMode = &quot;Remove&quot;" />
				<Control Id="TextUpdating" Type="Text" X="20" Y="65" Width="330" Height="35" Hidden="yes" NoPrefix="yes" Text="Updating" ShowCondition="WixUI_InstallMode = &quot;Update&quot;" />
				<Control Id="TitleUpdating" Type="Text" X="20" Y="15" Width="330" Height="15" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="{\WixUI_Font_Bold}Updating" ShowCondition="WixUI_InstallMode = &quot;Update&quot;" />
				<Control Id="ActionText" Type="Text" X="70" Y="100" Width="285" Height="10">
					<Subscribe Event="ActionText" Attribute="Text" />
				</Control>
				<Control Id="ProgressBar" Type="ProgressBar" X="20" Y="115" Width="440" Height="25" ProgressBlocks="yes" Text="Progress">
					<Subscribe Event="SetProgress" Attribute="Progress" />
				</Control>
				<Control Id="StatusLabel" Type="Text" X="20" Y="100" Width="50" Height="10" Text="Extracting Files..." />
			</Dialog>

			<InstallUISequence>
				<Show Dialog="virtual CustomProgressDlg" Before="ExecuteAction" />
			</InstallUISequence>
		</UI>
	</Fragment>
</Wix>